In [4]:
import pandas as pd
import numpy as np

In [5]:
df2 = pd.read_excel('retail.xlsx', 'Year 2009-2010')
df1 = pd.read_excel('retail.xlsx', 'Year 2010-2011')

In [6]:
df1.head(2)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [8]:
df2.head(2)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom

In [9]:
print(df1.shape)
print(df2.shape)

(541910, 8)
(525461, 8)

In [16]:
# UKdata1 = df.groupby('Country').get_group('United Kingdom')
# UKdata1 = df[df['Country']=='United Kingdom']

In [11]:
print(df1['Customer ID'].duplicated().sum())
print(df2['Customer ID'].duplicated().sum())

537537
521077

In [13]:
print(len(df1['Customer ID'].unique()))
print(len(df2['Customer ID'].unique()))

4373
4384

In [14]:
# df["Customer ID"].value_counts()

In [15]:
df1['Customer ID'].fillna(" ", inplace=True)
df2['Customer ID'].fillna(" ", inplace=True)

In [17]:
print(df1['Customer ID'].isnull().sum())
print(df1['Customer ID'].isnull().sum())

0
0

In [24]:
print(df1.isnull().sum() , "\n\n" , df2.isnull().sum())

Invoice           0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
Price             0
Customer ID       0
Country           0
dtype: int64

 Invoice           0
StockCode         0
Description    2928
Quantity          0
InvoiceDate       0
Price             0
Customer ID       0
Country           0
dtype: int64

In [26]:
df1 = df1.dropna()
df2 = df2.dropna()

In [64]:
print(df1.shape)
print(df2.shape)

(525463, 8)
(505193, 8)

In [28]:
df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

In [42]:
x = df1[df1['Quantity']<=0].index
y = df2[df2['Quantity']<=0].index

In [43]:
print(x,"\n\n",y)
# df1.drop(x , inplace=True)
# df2.drop(y , inplace=True)

Int64Index([], dtype='int64')

 Int64Index([], dtype='int64')

In [44]:
# df['StockCode'].nunique() - df['Price'].nunique()

In [47]:
x = df1['Quantity'].idxmax()
y = df2['Quantity'].idxmax()
print(x,"\n\n",y)

540421

 90857

In [52]:
df1.loc[x].Quantity , df2.loc[y].Quantity

(80995, 19152)

In [75]:
df1.iloc[540421].Quantity , df2.iloc[y].Quantity

IndexError: single positional indexer is out-of-bounds